.numbers {
  display: flex;
  column-gap: 20px;
  flex-wrap: nowrap;
}
.number {
  text-align: center;
  width: 50px;
  background-color: lightblue;
  margin-top: 20px;
}
.inspected-number {
  background-color: greenyellow;
}
.cur-number {
  background-color: pink;
}
.to-be-removed {
  transition: all 0.3s;
  background-color: red;
}

.case-line > li {
  margin: 8px 0;
  font-size: 16px;
}

.node-box {
  padding: 16px 0;
}

.controller {
  margin: 16px 0;
  font-size: 16px;
}

.custom-font {
  font-size: 16px;
}